body {
    background-color: silver;
    margin: 1em;
}
.clearfix {
    overflow: auto;
    zoom:1;
}
.which_city img {
    float: left;
    margin: 0 1em;
}
.which_city p {
    margin: 0 1em;
}
.which_city h2 {
    margin: 1em;
}
table {
    border-collapse: collapse;
    width: 50%;
}
  
  table, th, td {
    border: 1px solid black;
}
.language h2 ,table {
    margin: 1em;
}
.historical_places h2, h3 {
    margin: 1em;

}

.left {
    float: right;
    margin: 1em;
}
.right {
  float: right;
  margin: 1em;
}

.special{
    float: left;
    margin: 1em;
}

@media(min-width : 800px) {
    .col {
        width: 30%;
        margin: 1em;
        float:left;
    }
    .personal_info img {
        float: right;
        margin-right: 400px;
    }
    .personal_info h1 {
        float: left;
        margin-left:400px;
    
    }
    .special{
        float: right;
        margin: 1em;
    }
    
}